{% extends "cab.html" %}

{% load static %}

{% block cab %}
<br>
<div class="container">

    <div class="row">
        <div class="col">
            <h3>Resultado do PROCESSO SELETIVO PARA CURSO DE TÉCNICO EM ENFERMAGEM:</h3>
            <br>
            <ul>
                <li>Clique <a href="https://drive.google.com/file/d/1ucjsMkFvblIojmp-siWcpBjGa1N4SiwY/view?usp=sharing" target="_blank"><span style="cursor:pointer;text-decoration:underline;color:#0000ff;">AQUI</span></a> para baixar arquivo com o resultado.</li>
                <li>Em caso de dúvidas, entre em contato conosco clicando <a href="{% url 'selecao:contato' %}"><span style="cursor:pointer;text-decoration:underline;color:#0000ff;">AQUI.</span></a>.</li>
            </ul>

            <hr>

O processo seletivo para o curso de Técnico em Enfermagem, da Escola de Auxiliares e Técnicos de Enfermagem Nossa Senhora de Fátima, ofereceu 20 (vinte) vagas, no turno da noite. O resultado foi publicado no Diário Oficial do Município no dia 08 de dezembro, e também pode ser baixado do link acima.<br>
<br>
Os primeiros 20 colocados deverão efetivar suas matrículas entre os dias <span style="font-weight: bold">02/02/2022 e 03/02/2022, das 14h às 20h na secretaria da Escola</span>.<br>
<br>
Somente serão realizadas matrículas dos candidatos que apresentarem toda a documentação em cópia simples e legível, junto com o documento original no ato da matrícula, conforme previsto em edital.<br>
<br>
Documentos obrigatórios para a matrícula (original e cópia):<br>
<br>
•	Carteira de Identidade;<br>
•	CPF;<br>
•	Certidão de Nascimento e/ou Casamento;<br>
•	Se do sexo masculino, comprovante de regularidade com o Serviço Militar;<br>
•	Certificado do Ensino Médio;<br>
•	Histórico Escolar do Ensino Fundamental e Ensino Médio;<br>
•	Título de Eleitor;<br>
•	Três fotos 3x4 recentes;<br>
•	Comprovante de residência (conta de água e/ou luz);<br>
•	Carteira de vacinação contendo a comprovação das seguintes vacinas Hepatite B, Antitetânica, Rubéola, Sarampo, Caxumba - MMR (Tríplice Viral), Febre amarela, COVID-19 - Obrigatório para Estágios.<br>
<br>
No ato da matrícula, o aluno deverá assinar termo de compromisso da disponibilidade de cumprimento de 600 horas de estágio concomitante ao período de aulas do curso, que será realizado de segunda a sexta-feira, manhã e/ou tarde.<br>
<br>
Encerrado o período de matrícula em 1ª chamada, se houver vagas excedentes, as mesmas serão oferecidas aos demais candidatos por ordem classificatória.<br>
<br>
        </div>
    </div>

</div>

{% endblock %}