{% extends "cab.html" %}

{% load static %}

{% block cab %}
<br>
<div class="container">

    <div class="row">
        <div class="col">
            <h3>A inscrição ficou disponível entre os dias 11 e 15 de outubro de 2021.</h3>
            <ul>
                <li>Em caso de dúvidas, entre em contato conosco clicando <a href="{% url 'selecao:contato' %}"><span style="cursor:pointer;text-decoration:underline;color:#0000ff;">AQUI.</span></a>.</li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}