{% extends "adm/cab.html" %}

{% load static %}

{% block cab %}
<br>
<div class="container">

    <div class="row">
        <div class="col">
            <h3>Início:</h3>
        </div>
    </div>
    <ul>
    <li><a href="{% url 'adm:envia_email' %}">Envia e-mail</a></li>
    <li><a href="{% url 'adm:relacao_candidatos' %}" target="_blank">Imprime relação de candidatos (Dados completos)</a></li>
    <li><a href="{% url 'adm:relacao_candidatos_assinatura' %}" target="_blank">Imprime relação de candidatos (para assinatura)</a></li>
    </ul>
    <br>

</div>

{% endblock %}
